{% extends "Admin/Admin_dashboard.html" %}
{% block body %}
    <h2><center> View Feedbacks</center></h2>
<body>
<table class="table table-bordered">
<thead>
            <tr>
                <th>SlNo</th>
                <th>Name</th>
                <th>Feedback</th>
                <th>Date</th>
            </tr>
</thead>
<tbody>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.user_id.name }}</td>
        <td>{{ i.feedback }}</td>
        <td>{{ i.date }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
