 {% extends "Admin/Admin_dashboard.html" %}
{% block body %}
    <h2><center> View Users</center></h2>
<body>
<table class="table table-bordered">

            <tr>
                <th>SlNo</th>
                <th>Name</th>
                <th>Contact Info</th>
                <th>Address</th>

            </tr>
    {% for i in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td> Email:{{ i.email}},Phone:{{ i.phone }}</td>
        <td>{{ i.place}}</td>
    </tr>

{% endfor %}
</table>
{% endblock %}
