{% load static %}
{# <!DOCTYPE html> #}
<html>
	<head>
		<meta charset="utf-8">
		<title>Registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<!-- LINEARICONS -->
		<link rel="stylesheet" href="static/register/fonts/linearicons/style.css">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/register/css/style.css">
	</head>

	<body>

		<div class="wrapper">
			<div class="inner">
				{#<img src="static/register/images/image-1.png" alt="" class="image-1">#}
				<form action="/registration_POST" method="post">{% csrf_token %}
					<h3>New Account?</h3>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" name="textfield4" class="form-control" placeholder="Username" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="number"  name="textfield1" class="form-control" placeholder="Phone Number" required>
					</div>
                    <div class="form-holder">
						<span class="lnr lnr-location"></span>
						<input type="text"  name="textfield2" class="form-control" placeholder="Place" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-envelope"></span>
						<input type="text" id="email" name="textfield3" class="form-control" placeholder="Mail" required onblur="autoAppendEmail()">
					</div>
                    <div class="form-holder">
    <span class="lnr lnr-lock"></span>
    <div class="input-group">
        <input type="password" class="form-control" name="pass1" placeholder="Password" id="password" required>
        <div class="input-group-addon" onclick="passwordVisibility();">
            <i class="fa fa-eye" id="showPass"></i>
            <i class="fa fa-eye-slash d-none" id="hidePass"></i>
        </div>
    </div>
</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" name="pass2" class="form-control" placeholder="Confirm Password">
					</div>
					<button>
						<span>Register</span>
					</button>
				</form>
				{#<img src="static/register/images/image-2.png" alt="" class="image-2">#}
			</div>

		</div>

		<script src="static/register/js/jquery-3.3.1.min.js"></script>
		<script src="static/register/js/main.js"></script>
        <script>
            function autoAppendEmail() {
                let emailField = document.getElementById("email");
                let emailValue = emailField.value.trim();
                if (emailValue !== "" && !emailValue.includes("@")) {
                    emailField.value += "@gmail.com";
                }
            }
        </script>
	</body>
</html>
